Web Page/Connected Services/OrderService/OrderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="OrderRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customerid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="storeid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrderRegisterResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetOrderInfoForCustomer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderInfoForCustomerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderInfoForCustomerResult" type="tns:ArrayOfOrder" />
            <s:element minOccurs="1" maxOccurs="1" name="ordersnum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Order">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StoreID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetOrderInfoForStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrderInfoForStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrderInfoForStoreResult" type="tns:ArrayOfOrder" />
            <s:element minOccurs="1" maxOccurs="1" name="ordersnum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllOrders">
        <s:complexType />
      </s:element>
      <s:element name="GetAllOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllOrdersResult" type="tns:ArrayOfOrder" />
            <s:element minOccurs="1" maxOccurs="1" name="ordersnum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrderStateResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteOrderResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OrderRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:OrderRegister" />
  </wsdl:message>
  <wsdl:message name="OrderRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:OrderRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderInfoForCustomerSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderInfoForCustomer" />
  </wsdl:message>
  <wsdl:message name="GetOrderInfoForCustomerSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderInfoForCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderInfoForStoreSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrderInfoForStore" />
  </wsdl:message>
  <wsdl:message name="GetOrderInfoForStoreSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrderInfoForStoreResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="GetAllOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderStateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrderState" />
  </wsdl:message>
  <wsdl:message name="UpdateOrderStateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrderStateResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteOrderSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="DeleteOrderSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="OrderServiceSoap">
    <wsdl:operation name="OrderRegister">
      <wsdl:input message="tns:OrderRegisterSoapIn" />
      <wsdl:output message="tns:OrderRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfoForCustomer">
      <wsdl:input message="tns:GetOrderInfoForCustomerSoapIn" />
      <wsdl:output message="tns:GetOrderInfoForCustomerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfoForStore">
      <wsdl:input message="tns:GetOrderInfoForStoreSoapIn" />
      <wsdl:output message="tns:GetOrderInfoForStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input message="tns:GetAllOrdersSoapIn" />
      <wsdl:output message="tns:GetAllOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderState">
      <wsdl:input message="tns:UpdateOrderStateSoapIn" />
      <wsdl:output message="tns:UpdateOrderStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input message="tns:DeleteOrderSoapIn" />
      <wsdl:output message="tns:DeleteOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderServiceSoap" type="tns:OrderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OrderRegister">
      <soap:operation soapAction="http://tempuri.org/OrderRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfoForCustomer">
      <soap:operation soapAction="http://tempuri.org/GetOrderInfoForCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfoForStore">
      <soap:operation soapAction="http://tempuri.org/GetOrderInfoForStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderState">
      <soap:operation soapAction="http://tempuri.org/UpdateOrderState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OrderServiceSoap12" type="tns:OrderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OrderRegister">
      <soap12:operation soapAction="http://tempuri.org/OrderRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfoForCustomer">
      <soap12:operation soapAction="http://tempuri.org/GetOrderInfoForCustomer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderInfoForStore">
      <soap12:operation soapAction="http://tempuri.org/GetOrderInfoForStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap12:operation soapAction="http://tempuri.org/GetAllOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderState">
      <soap12:operation soapAction="http://tempuri.org/UpdateOrderState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap12:operation soapAction="http://tempuri.org/DeleteOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port name="OrderServiceSoap" binding="tns:OrderServiceSoap">
      <soap:address location="https://localhost:44349/OrderService.asmx" />
    </wsdl:port>
    <wsdl:port name="OrderServiceSoap12" binding="tns:OrderServiceSoap12">
      <soap12:address location="https://localhost:44349/OrderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>