Web Page/Connected Services/ProductService/ProductService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProductRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product" type="tns:Product" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Product">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StoreID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ViewTimes" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ProductRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProductRegisterResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductInfoResult" type="tns:Product" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsInfoForStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsInfoForStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsInfoForStoreResult" type="tns:ArrayOfProduct" />
            <s:element minOccurs="1" maxOccurs="1" name="productsnum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProduct">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllProducts">
        <s:complexType />
      </s:element>
      <s:element name="GetAllProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProductsResult" type="tns:ArrayOfProduct" />
            <s:element minOccurs="1" maxOccurs="1" name="productsnum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsInfoWithName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProductsInfoWithNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProductsInfoWithNameResult" type="tns:ArrayOfProduct" />
            <s:element minOccurs="1" maxOccurs="1" name="productsnum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProductName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProductNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateProductDescription">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProductDescriptionResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateProductPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProductPriceResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddViewTimes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddViewTimesResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteProduct">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteProductResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProductRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:ProductRegister" />
  </wsdl:message>
  <wsdl:message name="ProductRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:ProductRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductInfo" />
  </wsdl:message>
  <wsdl:message name="GetProductInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsInfoForStoreSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductsInfoForStore" />
  </wsdl:message>
  <wsdl:message name="GetProductsInfoForStoreSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsInfoForStoreResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="GetAllProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="GetProductsInfoWithNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetProductsInfoWithName" />
  </wsdl:message>
  <wsdl:message name="GetProductsInfoWithNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetProductsInfoWithNameResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProductNameSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProductName" />
  </wsdl:message>
  <wsdl:message name="UpdateProductNameSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProductNameResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProductDescriptionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProductDescription" />
  </wsdl:message>
  <wsdl:message name="UpdateProductDescriptionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProductDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProductPriceSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProductPrice" />
  </wsdl:message>
  <wsdl:message name="UpdateProductPriceSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProductPriceResponse" />
  </wsdl:message>
  <wsdl:message name="AddViewTimesSoapIn">
    <wsdl:part name="parameters" element="tns:AddViewTimes" />
  </wsdl:message>
  <wsdl:message name="AddViewTimesSoapOut">
    <wsdl:part name="parameters" element="tns:AddViewTimesResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteProductSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="DeleteProductSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductServiceSoap">
    <wsdl:operation name="ProductRegister">
      <wsdl:input message="tns:ProductRegisterSoapIn" />
      <wsdl:output message="tns:ProductRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductInfo">
      <wsdl:input message="tns:GetProductInfoSoapIn" />
      <wsdl:output message="tns:GetProductInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsInfoForStore">
      <wsdl:input message="tns:GetProductsInfoForStoreSoapIn" />
      <wsdl:output message="tns:GetProductsInfoForStoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <wsdl:input message="tns:GetAllProductsSoapIn" />
      <wsdl:output message="tns:GetAllProductsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProductsInfoWithName">
      <wsdl:input message="tns:GetProductsInfoWithNameSoapIn" />
      <wsdl:output message="tns:GetProductsInfoWithNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductName">
      <wsdl:input message="tns:UpdateProductNameSoapIn" />
      <wsdl:output message="tns:UpdateProductNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductDescription">
      <wsdl:input message="tns:UpdateProductDescriptionSoapIn" />
      <wsdl:output message="tns:UpdateProductDescriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProductPrice">
      <wsdl:input message="tns:UpdateProductPriceSoapIn" />
      <wsdl:output message="tns:UpdateProductPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddViewTimes">
      <wsdl:input message="tns:AddViewTimesSoapIn" />
      <wsdl:output message="tns:AddViewTimesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input message="tns:DeleteProductSoapIn" />
      <wsdl:output message="tns:DeleteProductSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProductServiceSoap" type="tns:ProductServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProductRegister">
      <soap:operation soapAction="http://tempuri.org/ProductRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductInfo">
      <soap:operation soapAction="http://tempuri.org/GetProductInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsInfoForStore">
      <soap:operation soapAction="http://tempuri.org/GetProductsInfoForStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsInfoWithName">
      <soap:operation soapAction="http://tempuri.org/GetProductsInfoWithName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductName">
      <soap:operation soapAction="http://tempuri.org/UpdateProductName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductDescription">
      <soap:operation soapAction="http://tempuri.org/UpdateProductDescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductPrice">
      <soap:operation soapAction="http://tempuri.org/UpdateProductPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddViewTimes">
      <soap:operation soapAction="http://tempuri.org/AddViewTimes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProductServiceSoap12" type="tns:ProductServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProductRegister">
      <soap12:operation soapAction="http://tempuri.org/ProductRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductInfo">
      <soap12:operation soapAction="http://tempuri.org/GetProductInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsInfoForStore">
      <soap12:operation soapAction="http://tempuri.org/GetProductsInfoForStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProducts">
      <soap12:operation soapAction="http://tempuri.org/GetAllProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductsInfoWithName">
      <soap12:operation soapAction="http://tempuri.org/GetProductsInfoWithName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductName">
      <soap12:operation soapAction="http://tempuri.org/UpdateProductName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductDescription">
      <soap12:operation soapAction="http://tempuri.org/UpdateProductDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProductPrice">
      <soap12:operation soapAction="http://tempuri.org/UpdateProductPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddViewTimes">
      <soap12:operation soapAction="http://tempuri.org/AddViewTimes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap12:operation soapAction="http://tempuri.org/DeleteProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductService">
    <wsdl:port name="ProductServiceSoap" binding="tns:ProductServiceSoap">
      <soap:address location="https://localhost:44349/ProductService.asmx" />
    </wsdl:port>
    <wsdl:port name="ProductServiceSoap12" binding="tns:ProductServiceSoap12">
      <soap12:address location="https://localhost:44349/ProductService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>