Web Page/Connected Services/StoreService/StoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="StoreRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="store" type="tns:Store" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Store">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="StoreRegisterResponse">
        <s:complexType />
      </s:element>
      <s:element name="StoreLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StoreLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStoreInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStoreInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStoreInfoResult" type="tns:Store" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStoreInfoWithID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStoreInfoWithIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStoreInfoWithIDResult" type="tns:Store" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllStores">
        <s:complexType />
      </s:element>
      <s:element name="GetAllStoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllStoresResult" type="tns:ArrayOfStore" />
            <s:element minOccurs="1" maxOccurs="1" name="storesnum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfStore">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Store" nillable="true" type="tns:Store" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateStoreEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStoreEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateStorePhone">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStorePhoneResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateStorePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStorePasswordResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StoreRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:StoreRegister" />
  </wsdl:message>
  <wsdl:message name="StoreRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:StoreRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="StoreLoginSoapIn">
    <wsdl:part name="parameters" element="tns:StoreLogin" />
  </wsdl:message>
  <wsdl:message name="StoreLoginSoapOut">
    <wsdl:part name="parameters" element="tns:StoreLoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetStoreInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetStoreInfo" />
  </wsdl:message>
  <wsdl:message name="GetStoreInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetStoreInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetStoreInfoWithIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetStoreInfoWithID" />
  </wsdl:message>
  <wsdl:message name="GetStoreInfoWithIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetStoreInfoWithIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllStoresSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllStores" />
  </wsdl:message>
  <wsdl:message name="GetAllStoresSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllStoresResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStoreEmailSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStoreEmail" />
  </wsdl:message>
  <wsdl:message name="UpdateStoreEmailSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStoreEmailResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStorePhoneSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStorePhone" />
  </wsdl:message>
  <wsdl:message name="UpdateStorePhoneSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStorePhoneResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStorePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStorePassword" />
  </wsdl:message>
  <wsdl:message name="UpdateStorePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStorePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="StoreServiceSoap">
    <wsdl:operation name="StoreRegister">
      <wsdl:input message="tns:StoreRegisterSoapIn" />
      <wsdl:output message="tns:StoreRegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StoreLogin">
      <wsdl:input message="tns:StoreLoginSoapIn" />
      <wsdl:output message="tns:StoreLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStoreInfo">
      <wsdl:input message="tns:GetStoreInfoSoapIn" />
      <wsdl:output message="tns:GetStoreInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStoreInfoWithID">
      <wsdl:input message="tns:GetStoreInfoWithIDSoapIn" />
      <wsdl:output message="tns:GetStoreInfoWithIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStores">
      <wsdl:input message="tns:GetAllStoresSoapIn" />
      <wsdl:output message="tns:GetAllStoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStoreEmail">
      <wsdl:input message="tns:UpdateStoreEmailSoapIn" />
      <wsdl:output message="tns:UpdateStoreEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStorePhone">
      <wsdl:input message="tns:UpdateStorePhoneSoapIn" />
      <wsdl:output message="tns:UpdateStorePhoneSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStorePassword">
      <wsdl:input message="tns:UpdateStorePasswordSoapIn" />
      <wsdl:output message="tns:UpdateStorePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StoreServiceSoap" type="tns:StoreServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreRegister">
      <soap:operation soapAction="http://tempuri.org/StoreRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreLogin">
      <soap:operation soapAction="http://tempuri.org/StoreLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoreInfo">
      <soap:operation soapAction="http://tempuri.org/GetStoreInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoreInfoWithID">
      <soap:operation soapAction="http://tempuri.org/GetStoreInfoWithID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStores">
      <soap:operation soapAction="http://tempuri.org/GetAllStores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStoreEmail">
      <soap:operation soapAction="http://tempuri.org/UpdateStoreEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStorePhone">
      <soap:operation soapAction="http://tempuri.org/UpdateStorePhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStorePassword">
      <soap:operation soapAction="http://tempuri.org/UpdateStorePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StoreServiceSoap12" type="tns:StoreServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreRegister">
      <soap12:operation soapAction="http://tempuri.org/StoreRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StoreLogin">
      <soap12:operation soapAction="http://tempuri.org/StoreLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoreInfo">
      <soap12:operation soapAction="http://tempuri.org/GetStoreInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoreInfoWithID">
      <soap12:operation soapAction="http://tempuri.org/GetStoreInfoWithID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllStores">
      <soap12:operation soapAction="http://tempuri.org/GetAllStores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStoreEmail">
      <soap12:operation soapAction="http://tempuri.org/UpdateStoreEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStorePhone">
      <soap12:operation soapAction="http://tempuri.org/UpdateStorePhone" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStorePassword">
      <soap12:operation soapAction="http://tempuri.org/UpdateStorePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoreService">
    <wsdl:port name="StoreServiceSoap" binding="tns:StoreServiceSoap">
      <soap:address location="https://localhost:44349/StoreService.asmx" />
    </wsdl:port>
    <wsdl:port name="StoreServiceSoap12" binding="tns:StoreServiceSoap12">
      <soap12:address location="https://localhost:44349/StoreService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>